# Remove files under ./wt-webapp-sdk/ from repo statistics.
wt-webapp-sdk/** -linguist-detectable
# Remove commit-msg hook from repo statistics.
scripts/commit-msg.sh -linguist-detectable
# Remove flake.nix from repo statistics.
flake.nix -linguist-detectable
# Remove .envrc from repo statistics.
.envrc -linguist-detectable
