name: Destroy Infrastructure

on:
  workflow_dispatch:
    inputs:
      tf-workspace:
        description: opentofu workspace
        required: true
        type: choice
        options:
          - "default"

jobs:
  tofu-plan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra # Set working directory for apply job.
    steps:
      - uses: actions/checkout@v5
      - uses: opentofu/setup-opentofu@v1
      - name: Run OpenTofu commands
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          tofu init
          tofu validate
          tofu workspace select ${{ github.event.inputs.tf-workspace }}
          tofu plan -destroy -out=tfplan
      - uses: cachix/install-nix-action@v31
      - name: Encrypt OpenTofu plan file
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        shell: nix shell nixpkgs#sops --quiet --command bash {0}
        run: sops encrypt --output tfplan-encrypted tfplan
      - name: Upload encrypted plan artifact
        uses: actions/upload-artifact@v5
        with:
          name: tfplan-destroy-encrypted-${{ github.event.inputs.tf-workspace }}
          path: ${{ github.workspace }}/infra/tfplan-encrypted
          if-no-files-found: error
          retention-days: 5

  tofu-apply:
    runs-on: ubuntu-latest
    needs: tofu-plan
    environment: infra-${{ github.event.inputs.tf-workspace }}
    if: github.ref == 'refs/heads/main' # Only run apply on main branch.
    defaults:
      run:
        working-directory: ./infra # Set working directory for apply job.
    steps:
      - uses: actions/checkout@v5
      - name: Download encrypted plan artifact
        uses: actions/download-artifact@v6
        with:
          name: tfplan-destroy-encrypted-${{ github.event.inputs.tf-workspace }}
          path: ${{ github.workspace }}/infra
      - uses: cachix/install-nix-action@v31
      - name: Decrypt OpenTofu plan file
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        shell: nix shell nixpkgs#sops --quiet --command bash {0}
        run: sops decrypt --output tfplan tfplan-encrypted
      - uses: opentofu/setup-opentofu@v1
      - name: Run OpenTofu commands
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          tofu init
          tofu workspace select ${{ github.event.inputs.tf-workspace }}
          tofu apply tfplan
